* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.App {
  text-align: center;
}
* label  {
  transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19)!important;
}
#manageSection {
  transition: 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.openMenuSection {
  transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  display: block;
  z-index: 50;
}
.input-field:focus-within label {
  top:-.5rem;
  opacity: 1;
}
.text-area-field:focus-within label {
  top:-.5rem;
  opacity: 1;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


